pref="都道府県"
shop="店舗"
staff_code="スタッフコード"
name="氏名"
on_off="表示"
loginname="ログイン名"
password="パスワード"
last_login="最終ログイン"
add="新規追加"
filter="フィルタ"

email="メールアドレス"
loginname="ログイン名"
password="パスワード"
admin="管理者"
general="一般"
off="非表示"
cancel="キャンセル"
save="保存"